{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-dark text-white text-center">
                <h4>Autenticación de Estudiante</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="mb-3">
                        <label for="codigo" class="form-label">Código UNI</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ej. 20210123A" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Ingresar al Sistema</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}